
/* header, footer, #side-menu section{
    margin: 2px;
    padding: 4px;
    border: 2px solid blue;

} 
#content{
    margin: 2px;
    padding: 4px;
    border: 2px solid red;}
#side-menu, #main{
    margin: 2px;
    padding: 4px;
    border: 2px solid green;

}*/
html{
    height: 100%;
}

body{margin: 0;
min-height: 100%;
display: flex ;
flex-direction: column;


 }
header,body > section{
     flex: 1;
 }
 header > div {
     padding:0px;
 }

#content{ flex: 4;
    display: flex;
    flex-direction: row;
}


#side-menu{
    flex: 1;
    padding: 5px;
}
#main{
    flex: 4;
}

footer{
    min-height: 20px;
    text-align: center;
    padding: 10px;
    background-color:#334455;
    color: #f5f5f5;
}
footer a{
    color:#f5f5f5
}

body{
    background-color:#f5f5f5;
}


#job{
   color:#334455; 
   text-align: right;
   padding: 1px;
   margin: 2px;
}

#top-menu-bar{
    text-align: center;
    color:#fff;
    background-color: #334455;
}

#top-menu-bar li{
    display: inline;
    padding:0;
    margin: 0;
}
#top-menu-bar a{
    text-decoration:none;
    padding:5px 15px 5px 15px;
    margin:2px 0;
    color:#fff;
    display:inline-block;
    
}

.favorite{
    background-color:#708090;
    color:black;
    font-style: italic;
   
}
#top-menu-bar a:visited {
    color:#fff;}

#top-menu-bar a:hover {
    color:#334455;
    background-color:#fff ;
    transition: all 0.5s ease;
}
.page{
    background-color: #ffffff;
    padding:24px ;
    border-radius:2px;
    box-shadow: 0 0 0 1px rgb(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    margin:15px 0px
    

}
img{
    display: block;
    margin:auto;
    border-radius:30%;
    padding:7px;
    background-color: transparent;
    }
.contenedor-grid {
    display: grid;
    grid-template-columns:1fr 2fr 1fr ;
    padding:0px;
    margin:0px;
}  

.grid2{
    background-color:#c2d4dd;
    background-position:center;   
}
   
.grid1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     justify-self: center;
     align-self: center;
      padding: 30%;
      margin:0px;
     background-position:center;
     background-color: #708090;
     border-top-right-radius:50%;
     border-bottom-left-radius: 40%;
    
}
   
#job{
     padding:1px;
     margin:0px;
     justify-self:center;
     align-self:flex-end;
}
 
.coman{
    display: grid;
     grid-row: 4fr;
     text-align:left;
     padding: 0em;
     margin: 0em;
}
